body {
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 960 540' width='1920' height='1080' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 82L14.5 74.8C29 67.7 58 53.3 87.2 57.8C116.3 62.3 145.7 85.7 174.8 93.7C204 101.7 233 94.3 262 92.5C291 90.7 320 94.3 349 95.3C378 96.3 407 94.7 436.2 88.3C465.3 82 494.7 71 523.8 62C553 53 582 46 611 48.8C640 51.7 669 64.3 698 68.8C727 73.3 756 69.7 785.2 76.8C814.3 84 843.7 102 872.8 107.3C902 112.7 931 105.3 945.5 101.7L960 98L960 0L945.5 0C931 0 902 0 872.8 0C843.7 0 814.3 0 785.2 0C756 0 727 0 698 0C669 0 640 0 611 0C582 0 553 0 523.8 0C494.7 0 465.3 0 436.2 0C407 0 378 0 349 0C320 0 291 0 262 0C233 0 204 0 174.8 0C145.7 0 116.3 0 87.2 0C58 0 29 0 14.5 0L0 0Z' fill='%23001122'%3E%3C/path%3E%3Cpath d='M0 120L14.5 117.3C29 114.7 58 109.3 87.2 116.5C116.3 123.7 145.7 143.3 174.8 149.5C204 155.7 233 148.3 262 144.7C291 141 320 141 349 148.3C378 155.7 407 170.3 436.2 163.2C465.3 156 494.7 127 523.8 114.3C553 101.7 582 105.3 611 107.2C640 109 669 109 698 114.3C727 119.7 756 130.3 785.2 138.5C814.3 146.7 843.7 152.3 872.8 157.8C902 163.3 931 168.7 945.5 171.3L960 174L960 96L945.5 99.7C931 103.3 902 110.7 872.8 105.3C843.7 100 814.3 82 785.2 74.8C756 67.7 727 71.3 698 66.8C669 62.3 640 49.7 611 46.8C582 44 553 51 523.8 60C494.7 69 465.3 80 436.2 86.3C407 92.7 378 94.3 349 93.3C320 92.3 291 88.7 262 90.5C233 92.3 204 99.7 174.8 91.7C145.7 83.7 116.3 60.3 87.2 55.8C58 51.3 29 65.7 14.5 72.8L0 80Z' fill='%23001c4a'%3E%3C/path%3E%3Cpath d='M0 271L14.5 282.7C29 294.3 58 317.7 87.2 331.2C116.3 344.7 145.7 348.3 174.8 331.3C204 314.3 233 276.7 262 268.5C291 260.3 320 281.7 349 298.7C378 315.7 407 328.3 436.2 334.7C465.3 341 494.7 341 523.8 332C553 323 582 305 611 279.8C640 254.7 669 222.3 698 230.5C727 238.7 756 287.3 785.2 296.3C814.3 305.3 843.7 274.7 872.8 258.5C902 242.3 931 240.7 945.5 239.8L960 239L960 172L945.5 169.3C931 166.7 902 161.3 872.8 155.8C843.7 150.3 814.3 144.7 785.2 136.5C756 128.3 727 117.7 698 112.3C669 107 640 107 611 105.2C582 103.3 553 99.7 523.8 112.3C494.7 125 465.3 154 436.2 161.2C407 168.3 378 153.7 349 146.3C320 139 291 139 262 142.7C233 146.3 204 153.7 174.8 147.5C145.7 141.3 116.3 121.7 87.2 114.5C58 107.3 29 112.7 14.5 115.3L0 118Z' fill='%2300206f'%3E%3C/path%3E%3Cpath d='M0 363L14.5 370.2C29 377.3 58 391.7 87.2 403.3C116.3 415 145.7 424 174.8 413.2C204 402.3 233 371.7 262 364.5C291 357.3 320 373.7 349 384.5C378 395.3 407 400.7 436.2 408.7C465.3 416.7 494.7 427.3 523.8 429.2C553 431 582 424 611 404.3C640 384.7 669 352.3 698 358.7C727 365 756 410 785.2 404.5C814.3 399 843.7 343 872.8 328.5C902 314 931 341 945.5 354.5L960 368L960 237L945.5 237.8C931 238.7 902 240.3 872.8 256.5C843.7 272.7 814.3 303.3 785.2 294.3C756 285.3 727 236.7 698 228.5C669 220.3 640 252.7 611 277.8C582 303 553 321 523.8 330C494.7 339 465.3 339 436.2 332.7C407 326.3 378 313.7 349 296.7C320 279.7 291 258.3 262 266.5C233 274.7 204 312.3 174.8 329.3C145.7 346.3 116.3 342.7 87.2 329.2C58 315.7 29 292.3 14.5 280.7L0 269Z' fill='%23031b90'%3E%3C/path%3E%3Cpath d='M0 541L14.5 541C29 541 58 541 87.2 541C116.3 541 145.7 541 174.8 541C204 541 233 541 262 541C291 541 320 541 349 541C378 541 407 541 436.2 541C465.3 541 494.7 541 523.8 541C553 541 582 541 611 541C640 541 669 541 698 541C727 541 756 541 785.2 541C814.3 541 843.7 541 872.8 541C902 541 931 541 945.5 541L960 541L960 366L945.5 352.5C931 339 902 312 872.8 326.5C843.7 341 814.3 397 785.2 402.5C756 408 727 363 698 356.7C669 350.3 640 382.7 611 402.3C582 422 553 429 523.8 427.2C494.7 425.3 465.3 414.7 436.2 406.7C407 398.7 378 393.3 349 382.5C320 371.7 291 355.3 262 362.5C233 369.7 204 400.3 174.8 411.2C145.7 422 116.3 413 87.2 401.3C58 389.7 29 375.3 14.5 368.2L0 361Z' fill='%232a00ae'%3E%3C/path%3E%3C/svg%3E");
 }
h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to bottom, #cdbdfa, #4300fa);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

h2 {
    color: transparent;
    background-image: linear-gradient(to bottom, #cdbdfa, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
  }

.links {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

.decoded-message {
    background-color: #b0a0d844;
    padding: 10px;
    margin-top: 20px;
    font-family: "Roboto_Mono variant0", Tofu;
    font-size: 20px;
  }

input[type="file"] {
    display: none;
  }

input[type=text] {
  padding: 10px;
  border: none;
  border-bottom: 4px solid #405cf5;
  }

  .download {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: bold;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .bottom-left-content {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    color: #fff;
}
  .download:disabled {
    cursor: default;
  }
  
  .download:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
